# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/ecokuku_dev"

# Auth
NEXTAUTH_SECRET="your-super-secret-key-here-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# M-PESA / Daraja API
MPESA_CONSUMER_KEY="your_consumer_key"
MPESA_CONSUMER_SECRET="your_consumer_secret"
MPESA_SHORTCODE="your_shortcode"
MPESA_PASSKEY="your_passkey"
MPESA_TEST_PHONE="254712345678"

# Africa's Talking SMS
AT_API_KEY="your_africas_talking_api_key"
AT_USERNAME="your_at_username"

# Env
NODE_ENV="development"
